In [1]:
# Pandas is used for data manipulation
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score

In [2]:
features = pd.read_csv('dataset/apimdsCat.csv')
features.head(5)

,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,...,Column101,Column102,Column103,Column104,Column105,Column106,Column107,Column108,Column109,malware
0,442,547,590,143,142,505,915,581,705,114,...,810,809,821,854,268,851,697,849,842,1
1,442,547,590,143,142,505,915,581,705,114,...,810,809,821,854,268,851,697,849,842,1
2,442,547,590,143,142,505,915,581,705,114,...,810,809,821,854,268,851,697,849,842,1
3,442,547,590,143,142,505,915,581,705,114,...,810,809,821,854,268,851,697,849,842,1
4,442,547,590,143,142,505,915,581,705,114,...,810,809,821,854,268,851,697,849,842,1

In [3]:
print('The shape of our features is:', features.shape)

The shape of our features is: (21492, 108)

In [17]:
# Descriptive statistics for each column
features.describe()

,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,...,Column100,Column101,Column102,Column103,Column104,Column105,Column106,Column107,Column108,Column109
count,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,...,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000,21492.000000
mean,526.385725,467.468081,483.798948,382.964731,434.577145,483.582263,582.931509,481.435744,396.604690,424.389401,...,439.924949,509.823423,511.030895,471.940210,455.354411,477.378420,451.228318,485.647776,494.526335,461.708915
std,188.570781,159.713238,209.113053,196.733872,229.089351,177.407934,257.104181,195.787961,220.038349,236.851161,...,238.279143,210.458518,213.435101,235.606945,236.073905,223.565299,240.830188,215.571440,226.623087,218.635792
min,28.000000,32.000000,32.000000,2.000000,2.000000,16.000000,3.000000,9.000000,3.000000,26.000000,...,2.000000,1.000000,16.000000,2.000000,8.000000,2.000000,18.000000,2.000000,3.000000,15.000000
25%,442.000000,395.000000,394.000000,249.000000,302.000000,395.000000,395.000000,392.000000,143.000000,142.000000,...,280.000000,393.000000,394.000000,303.000000,268.000000,302.000000,320.000000,394.000000,395.000000,302.000000
50%,484.000000,483.000000,421.000000,394.000000,417.000000,506.000000,517.000000,506.000000,417.000000,435.000000,...,445.000000,491.000000,549.000000,483.000000,421.000000,481.000000,445.000000,467.000000,484.000000,444.000000
75%,590.000000,484.000000,580.000000,505.000000,515.000000,590.000000,911.000000,593.000000,539.000000,590.000000,...,582.000000,636.000000,677.000000,590.000000,590.000000,599.000000,602.000000,593.000000,602.000000,590.000000
max,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,...,923.000000,923.000000,922.000000,923.000000,923.000000,923.000000,923.000000,923.000000,922.000000,923.000000

In [16]:
features.dtypes

Column3      int64
Column4      int64
Column5      int64
Column6      int64
Column7      int64
             ...
Column105    int64
Column106    int64
Column107    int64
Column108    int64
Column109    int64
Length: 107, dtype: object

In [15]:
features.head(5)

,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,...,Column100,Column101,Column102,Column103,Column104,Column105,Column106,Column107,Column108,Column109
0,442,547,590,143,142,505,915,581,705,114,...,175,810,809,821,854,268,851,697,849,842
1,442,547,590,143,142,505,915,581,705,114,...,175,810,809,821,854,268,851,697,849,842
2,442,547,590,143,142,505,915,581,705,114,...,175,810,809,821,854,268,851,697,849,842
3,442,547,590,143,142,505,915,581,705,114,...,175,810,809,821,854,268,851,697,849,842
4,442,547,590,143,142,505,915,581,705,114,...,175,810,809,821,854,268,851,697,849,842

In [6]:
# Labels are the values we want to predict
labels = features['malware']

# Saving feature names for later use
features= features.drop('malware', axis = 1)
feature_list = list(features.columns)

# Convert to numpy array
#features = np.array(features)

In [42]:
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 20)

In [43]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (17193, 107)
Training Labels Shape: (17193,)
Testing Features Shape: (4299, 107)
Testing Labels Shape: (4299,)

In [47]:
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(random_state = 30, verbose=1, n_jobs=-1)

In [48]:
scoring = ['precision_macro', 'recall_macro', 'f1_macro']
scores = cross_validate(rf, train_features, train_labels, cv=10, scoring=scoring)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.6s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.7s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.8s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.6s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.2s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.7s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.5s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.7s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.5s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.5s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.6s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.3s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.6s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.2s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    0.5s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 434 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 784 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 1000 out of 1000 | elapsed:    0.2s finished

In [40]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [49]:
print("%0.5f accuracy" % (scores['test_precision_macro'].mean()))
print("%0.5f recall" % (scores['test_recall_macro'].mean()))
print("%0.5f f1 score" % (scores['test_f1_macro'].mean()))
#print("%0.3f auc roc" % (scores['test_roc_auc'].mean()))

print("%0.3f training time" % (scores['fit_time'].sum()))
print("%0.3f predition time" % (scores['score_time'].sum()))

1.00000 accuracy
1.00000 recall
1.00000 f1 score
9.717 training time
3.341 predition time